@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --teriary: #0F172A;
  --neutral: white;
  --sub-neutral: #F8FAFC;
  --border-color: #E2E8F0;
  --border-color-dark: #C5C6CD;
  --text-light: #45474C;
  --text-light2: #8590A6;
  --input-color: #F7F9FB;
  --background-dark: #F2F4F6;
  --dark-blue-bg: #1D293B;
  --work-page-bg: #F7F9FB;
  --link-inactive: #64748B;
}
*{
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* -- NOT FOUND -- */
.notFoundPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: var(--work-page-bg);
}

.notFoundPage img {
  width: 650px;
  margin-bottom: 24px;
}

.notFoundPage h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 8px;
}

.notFoundPage p {
  font-size: 16px;
  color: var(--text-light);
}

/* -- LOGIN -- */

.loginMain{
  width: 100vw;
  min-height: 100vh;
  background-color: var(--neutral);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBackgroundImage{
  position: fixed;
  right: 0;
  bottom: 0;
}

.loginMain header,.registerMain header{
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: var(--sub-neutral);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  top: 0;
  left: 0;
  z-index: 100;
}

.loginMain header h1,.registerMain header h1{
  color: var(--teriary);
  font-weight: bold;
  font-size: 20px;
}

.loginMain header p,.registerMain header p{
  color: var(--text-light);
  font-size: 16px;
}

.loginMain > div{
  display: flex;
  gap: 15px;
}

.logoAndText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.logoAndText h1{
  font-size: 32px;
  font-weight: 600;
}

.logoAndText p{
  color: var(--text-light);
  font-size: 16px;
}


.infoPages{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 12px;
  color: var(--text-light2);
}

.loginForm{
  background-color: var(--neutral);
  border: 1px solid var(--border-color);
  padding: 60px;
  border-radius: 20px;
  width: 450px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.formInputName{
  font-size: 16px;
  color: var(--text-light);
}
.formInputAlternative{
  font-size: 16px;
}

.customInput{
  width: 100%;
  height: 60px;
  border: 1px solid var(--border-color-dark);
  background-color: var(--input-color);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.customInput input{
  flex-grow: 1;
  border: none;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
}



.keepLoggedIn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
}

.keepLoggedIn input {
  width: 16px;
  height: 16px;
  accent-color: var(--teriary);  
}

.formBtn{
  background-color: var(--teriary);
  color: var(--neutral);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 1px;
  border-radius: 4px;
}




/* -- REGISTER -- */
.registerMain {
  width: 100vw;
  height: 100vh;
  background-color: var(--neutral);
  display: flex;
}

.registerMain > div {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerMain .loginForm{
  width: 500px;
  padding-block: 30px;
}

.registerShowcase{
  padding: 96px 72px 48px;
}

.registerShowcaseGrid{
  width: 600px;
  min-width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 16px;
}

.registerFeatureCard,
.registerStatsCard,
.registerQuoteCard,
.registerJoinCard{
  background-color: var(--neutral);
  border: 1px solid var(--border-color-dark);
}

.registerFeatureCard{
  padding: 24px;
  border-radius: 16px 0 0 0;
  overflow: hidden;
  grid-column: span 8 / span 8;
  grid-row: span 6 / span 6;
}

.registerIconBox{
  width: 48px;
  height: 48px;
  background-color: #DCE7FF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.registerFeatureTitle{
  color: var(--text-light);
  font-size: 16px;
  margin-bottom: 8px;
}

.registerFeatureText{
  color: var(--text-light);
  font-size: 16px;
  margin-bottom: 10px;
}

.registerFeatureCard img{
  width: 100%;
  object-fit: cover;
  display: block;
}

.registerStatsCard{
  border-radius: 0 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px 20px;
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 9;
}

.registerStatsCard h2{
  color: var(--teriary);
  font-size: 52px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 16px;
}

.registerStatsCard p{
  font-size: 16px;
  line-height: 1.4;
}

.registerQuoteCard{
  border-radius: 0 0 0 16px;
  padding: 76px 36px;
  display: flex;
  align-items: center;
  gap: 18px;
  grid-column: span 8 / span 8;
  grid-row: span 6 / span 6;
  grid-row-start: 7;
}

.registerQuoteCard p{
  color: var(--text-light);
  font-size: 16px;
  font-style: italic;
  line-height: 1.45;
}
.registerQuoteCard svg{
  flex-shrink: 0;
}

.registerJoinCard{
  background-color: var(--dark-blue-bg);
  border-color: var(--dark-blue-bg);
  border-radius: 0 0 16px 0;
  padding: 38px 24px;
  display: flex;
  align-items: flex-end;
   grid-column: span 4 / span 4;
    grid-row: span 8 / span 8;
    grid-column-start: 9;
    grid-row-start: 5;
}

.registerJoinCard p{
  color: var(--text-light2);
  font-size: 16px;
  line-height: 1.45;
}


.workPageMain{
  width: 100vw;
  min-height: 100vh;
  background-color: var(--work-page-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.workHeader{
  width: 100%;
  height: 65px;
  background-color: var(--neutral);
  position: fixed;
  left: 0;
  top: 0;
  border-bottom:1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

.workHeader a{
  color: var(--link-inactive);
  font-size: 14px;
}
.workHeader img{
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.workHeader a.activeLink {
  color: var(--teriary);
  text-decoration: underline;
}